@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --white:#fff;
    --light-pink:#FF2171;
    --pink:#A8154A;
    --dark-pink:#77002E;
    --light-bege:#FFFAD7;
    --bege:#FFE4A7;
    --dark-bege:#BAA370;

    --font-text: 'Quando', serif;
    --font-title:'Press Start 2P', cursive;


    --padding-inicio: 75px 150px;
    --padding-bio-avatar:75px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bege);
}
a{
    text-decoration: none;
}
header{
    padding: 30px 25px;
    background-color: rgb(186, 163, 112, 0.95);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}
header #ancho ul{
    font-family: var(--font-text);
    display: flex;
    gap: 15px;
    list-style: none;
}
header #ancho ul li{
    color: var(--white);
}
header #ancho ul a{
    text-decoration: none;
}
header #logo{
    font-family: var(--font-title);
    color: var(--dark-pink);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main #inicio{
    background-image: url(./img/tri.png) ;
}
main #inicio #bio-perfil{
    padding: var(--padding-inicio);
}
main #inicio #bio-perfil p{
    font-family: var(--font-text);
    color: var(--white);
    font-size: 25px;
}
main #inicio #bio-perfil h1{
    font-family: var(--font-title);
    color: var(--white);
    margin: 5px 0;
}
main #inicio #bio-perfil #btn-perfil{
    background-color: var(--dark-bege);
    padding: 10px;
    font-family: var(--font-text);
    margin: 10px 0px;
    border-radius: 3px;
    text-align: center;
    transition: 0.5s;
}
main #inicio #bio-perfil #btn-perfil:hover{
    background-color: #8F7743;
}
main #inicio #bio-perfil #btn-perfil a{
    color: var(--white);
}
main #inicio #img-perfil{
    padding: var(--padding-inicio);
}
main #inicio #img-perfil img{
    min-width: 200px;
    width: 100%;
}
/* section sobre mim */
main #sobre-mim{
    background-color: var(--pink);
}
main #sobre-mim #img-avatar{
    padding: var(----padding-bio-avatar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main #sobre-mim #img-avatar > img{
    min-width: 250px;
    width: 80%;
}
main #sobre-mim #bio-avatar{
    padding: var(--padding-bio-avatar);
    display: flex;
    flex-direction: column;
    width: 800px;
}
main #sobre-mim #bio-avatar h1{
    color: var(--white);
    font-family: var(--font-title);
    margin: 10px 0;
    font-size: 30px;
}
main #sobre-mim #bio-avatar p{
    color: var(--light-bege);
    font-family: var(--font-text);
    margin: 5px 0;
    font-size: 20px;
}
main #projetos{
    background-image: url("./img/Polygon\ 1.png");
    flex-direction: column;
}
main #projetos #title-projetos{
    color: var(--white);
    font-family: var(--font-title);
    margin: 10px 0;
    font-size: 30px;
    padding: 50px 0;
}
main #projetos #box-projetos{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
main #projetos #box-projetos #box img{
    min-width: 80%;
    width: 100%;
}
main #projetos #subtitle-projetos a{
    color: var(--dark-bege);
    font-family: var(--font-text);
    margin: 5px 0;
    font-size: 20px;
    text-decoration: none;
}
main #habilidades{
    background-color:var(--pink);
    flex-direction: column;
}
main #habilidades #title-habilidades{
    color: var(--white);
    font-family: var(--font-title);
    margin: 10px 0;
    font-size: 30px;
    padding: 50px 0;
}
main #habilidades #box-habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    gap: 50px;
}
main #habilidades #box-habilidades #habilidades img{
    width: 100%;
    min-width: 50px;
    min-height: 50px;

}
main #habilidades #box-habilidades #habilidades{
    transition: 1s;
}
main #habilidades #box-habilidades #habilidades:hover{
    opacity: 0.8;
}
main #habilidades #text-habilidades{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 50%;
    height: 75px;
}
main #habilidades #text-habilidades p{
    color: var(--light-bege);
    font-family: var(--font-title);
    margin: 25px 0;
    font-size: 10px;
    line-height: 20px;
}
footer{
    background-color: var(--light-bege);
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
}
footer #contato p{
    color: var(--dark-pink);
    font-family: var(--font-text);
    font-size: 20px;
    text-decoration: none;
}
footer #social-medias{
    display: flex;
    gap: 20px;
}
footer #social-medias #social a{
    color: var(--dark-pink);
}
footer #social-medias #social svg{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
footer #social-medias #social svg:hover{
    color: black;
}
@media (max-width:1200px) {}
@media (max-width:950px) {
    :root{
        --padding-inicio:  75px;
        --padding-bio-avatar: 25px;
    }
}
@media (max-width:850px) {
    :root{
        --padding-inicio:  100px 0 50px 0;
    }
    header #logo h1{
        font-size: 20px;
    }
    header #ancho li{
        font-size: 10px;
    }
    main #sobre-mim, main #inicio {
        flex-direction: column;
    }
    main #sobre-mim #bio-avatar h1,main #sobre-mim #bio-avatar p{
        text-align: center;
    }
    main #sobre-mim #bio-avatar{
        width: 100%;
    }

}
@media (max-width:550px) {
    header #logo h1{
        font-size: 15px;
    }
    header #ancho li{
        font-size: 8px;
    }
    main #inicio #bio-perfil p{
        font-size: 15px;
    }
    main #inicio #bio-perfil h1{
        font-size: 20px;

    }
    main #habilidades #box-habilidades{
        gap: 20px;
    }
    main #habilidades #title-habilidades, main #projetos #title-projetos, main #sobre-mim #bio-avatar h1{
        font-size: 15px;
    }
    main #sobre-mim #bio-avatar p{
        font-size: 10px;
    }
    main #habilidades #text-habilidades p{
        font-size: 8px;
        line-height: 10px;
    }
    footer #contato p{
        font-size: 8px;
    }
    footer #social-medias{
        display: flex;
        gap: 10px;
    }
    main #projetos #box-projetos{
        gap: 10px;
    }
    }
}
